body {
    background-color: rgb(65, 61, 61);
    display: flex;
    justify-content: center;
    align-items: center;
}

.calculator {
    height: 650px;
    width: 380px;
    background-color: rgb(0, 0, 0);
    display: flex;
    flex-direction: column;
    align-items: center;
    border-radius: 15px;
}

.screen {
    height: 280px;
    width: 360px;
    background-color: rgb(65, 61, 61);
    margin-top: 10px;
    border-radius: 15px;
    display: flex;
    flex-direction: row-reverse;
    /* justify-content: center; */
    align-items: center;
}

.screenText {
    font-size: 60px;
    color: rgb(182, 168, 168);
    padding: 0 20px 0 20px;
}

.buttons {
    height: 340px;
    margin-top: auto;
    margin-bottom: auto;
    width: 360px;
    display: flex;
    flex-wrap: wrap;
    /* gap: 10px; */
}

.gStyle {
    background-color: rgb(34, 33, 33);
    margin: 6px;
    border-radius: 15px;
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    width: calc((100%/4) - 12px);
}

.ac, .cl {
    width: 165px;
    margin-left: auto;
    background-color: rgb(70, 56, 56);
}

